*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(202deg, rgba(248, 177, 149, 0.80) 15.76%, rgba(228, 122, 122, 0.74) 24.39%, rgba(209, 71, 104, 0.70) 37.74%, rgba(117, 87, 142, 0.78) 53.72%, #355C7D 73.82%);
}
hr{
    border: 1px solid #fff;
}
.container{
    width: 650px;
    height: 100vh;
    margin: 10px auto;
    text-align: center;
}
.container__heading{
    color: #FFF;
    font-size: 30px;
    letter-spacing: 2px;
}
.card {
    width: 540px;
    color: #fff;
    margin: 30px auto;
    padding: 3% 35px;
    text-align: center;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    background-color: rgb(255, 255,255,0.2);
    border: 2px solid rgb(255, 255,255,0.3);
}

.card__buttons{
    margin-bottom:30px;
}

.card__buttons .button{
    width: 125px;
    border: 0px;
    outline: 0px;
    color: #FFF;
    cursor: pointer;
    background:none;
    font-size: 16px;
    padding: 15px 10px; 
    letter-spacing: 1px; 
    transition: all linear 0.5s; 
}

.card__buttons .button:active{
    font-weight: 800;
    border-radius: 5px;
    background-color: rgb(255, 255,255,0.3);
}

.card__timer{
    font-size: 40px;
    margin-bottom:30px;
}

#cntrlrBtn{
    border: 0px;
    outline: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 23px;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: transparent;
    
}

/* task section css start */

.task-section{
    margin-bottom: 30px;
}

.task-section input{
    color: #fff;
    outline: none;
    background: none;
    border: 1px solid #fff;
    padding: 10px 30px 10px 5px;  
}

.task-section input::placeholder {
    opacity: 1; 
    color: #fff;
  }

  #addTaskBtn{
    width: 125px;
    border: 0px;
    outline: 0px;
    color: #FFF;
    cursor: pointer;
    background:none;
    font-size: 16px;
    padding: 10px 8px; 
    letter-spacing: 1px; 
  }
  #addTaskBtn:active{
    font-weight: 800;
    border-radius: 5px;
    background-color: rgb(255, 255,255,0.3);
}

/* task list css start */

.task-list h2{
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.task-list ul{
    list-style: none;
}
  